.pageContainer {
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.margindown-sm {
    margin-bottom: 12px;
}

.table-dark {
    background-color: #282c34!important;
    border: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
}

.table-softwhite {
    background-color: #d6d6d6!important;
    border: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
}

.listitem-dark {
    background-color: #30343c!important;
}
.sublistitem-dark {
    background-color: #3b3e46!important;
}

.top-cell {
    vertical-align: top!important;
}

.image-right {
    margin-left: auto; 
    margin-right: 16px;
}

.fab-back{
    top: 24px!important;
    left: 26px!important;
    position: fixed!important;
}